/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 3:03:04 PM
    Author     : wsullivan16
*/

* {
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background:url("Photos/Kiffin.jpg") no-repeat center center fixed; 
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

form {
    position:relative;
    opacity: .8;
    width:20%;
    height:35%;
    margin:10% auto;
    text-align:center;
    background:#ecf0f1;
    padding:40px;
    -webkit-border-radius:20px 0 0 0;
    -moz-border-radius:20px 0 0 0;
    border-radius:20px 0 0 0;
    -webkit-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
    box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
    box-shadow: 20px 20px 20px;
}

form:hover
        {  
            opacity: 1.0;           
        }
p,h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2em;
    font-weight:300;
    margin: auto;
    margin-bottom:auto;
    color:#7f8c8d;
    text-shadow:1px 1px 0px white;
    text-align:center;
}

input {
    display:block;
    width:90%;
    padding:14px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:0;
    margin-bottom:12px;
    color:#7f8c8d;
    font-weight:600;
    font-size:16px;
    align-content: center;
}

input:focus {
    background:#fafafa;
}


li {
    position:absolute;
    right:40px;
    bottom:62px;
    list-style:none;
}

a, a:visited {
    text-decoration:none;
    color:#7f8c8d;
    font-weight:400;
    text-shadow:1px 1px 0px white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.button {
    position:relative;
    float:left;
    width:145px;
    margin-top:10px;
    background:red;
    color:#fff;
    font-weight:400;
    text-shadow:1px 1px 0px #2d7baf;
    box-shadow:0px 3px 0px #2d7baf;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}